
$theme-font-path: "https://ts0.hfdstatic.com/sites/higux/dist/fonts";
$icon-font-path: 'https://ts0.hfdstatic.com/sites/higux/dist/fonts';
$icon-sprite-path: 'https://ts0.hfdstatic.com/sites/higux/dist/images/';

// Import partials.
@import
  "huk/variables",
  "huk/fonts",
  "huk/typography"
;
