// Setup
$version: "v3.3.26" !default;

// Colors
$black: #000;
$blue: #3a5a78;
$blue-active: #4E79A2;
$blue-light: #b6d3e9;
$linus-blanket: #eaf2f8;
$blue-hover: #68b5e4;
$blue-link: #2477bf;
$blue-light-table-hover: #deecf7;
$blue-progress: #68b5e4;
$bluegreen: #068f96;
$gray: #484848;
$gray-dark: #3d3d3d;
$gray-disabled: #7f7f7f;
$gray-pewter: #6B6B6B;
$gray-placeholder: #757575;
$gray-background: #f7f7f7;
$gray-silver: #aaaaaa;
$gray-light: #dadada;
$gray-lighter: #ededed;
$gray-medium: #888;
$gray-hover: #fafafa;
$gray-tile: #6c6c6c;
$gray-body: #333;
$green: #118654;
$green-active: #13a060;
$purple: #4d4369;
$plum: #847094;
$red: #822b2f;
$red-error: #b83b2f;
$red-salmon: #c0504d;
$white: #fff;
$yellow: #efc21b;
$yellow-warning: #e87502;

// Shadows
$shadow-deep: rgba(0, 0, 0, 0.75);
$shadow-medium-deep: rgba(0, 0, 0, 0.5);
$shadow-shallow: rgba(0, 0, 0, 0.05);
$shadow-medium: rgba(0, 0, 0, 0.175);
$shadow-icons: .03em .03em .09em #666;

// Border Radiuses
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
// Accordions Variables
$panel-header-bg: $gray-lighter;
$panel-header-bg-active: $blue;
// Fonts
$font-family-base: "HCo Gotham", arial, sans-serif;
$font-family-title: "HCo Gotham", arial, sans-serif;
$font-family-paragraph: "HCo Gotham SSm", arial, sans-serif;
$font-family-sup: "arial, helvetica, sans-serif";
$font-size-base: 16px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~20px
$font-size-small: ceil(($font-size-base * 0.875)) !default; // ~14px
$font-size-h1: floor(($font-size-base * 1.625)); // ~26px
$font-size-h2: floor(($font-size-base * 1.375)); // ~22px
$font-size-h3: ceil(($font-size-base * 1.25)); // ~20px
$font-size-h4: ceil(($font-size-base * 1.125)); // ~18px
$font-size-h5: $font-size-base !default;
$baseline-px: 16 !default;
// Font Paths
$theme-font-path: "../fonts" !default;
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/" !default;
// Sprite Paths
$icon-sprite-path: "../images/" !default;
// Breakpoint Variables & Shorthand Media Queries
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;